{% load static %}
{% load i18n %}

<html>
    <head>
        <title>Depot de documents</title>
        <link rel="stylesheet" href="{% static 'depot/style2.css' %}">
        <link rel="stylesheet" href="{% static 'depot/liliacgrey.css' %}">
        <link rel="stylesheet" href="{% static 'depot/w3.css' %}">
    </head>
    <body>
    <div class="page-header w3-theme-d4">
        <div class="date">
            <div class="btn-group">
                <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <a href="{% url 'blogindex' %}" class="w3-button">Blog </a>
                    <a href="{% url 'entreesystemes' %}" class="w3-button"> {% trans "Accueil" %}</a>
                    <input name="next" type="hidden" value="{{ index }}" />
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        {% if language.code != LANGUAGE_CODE %}
                            <input type="submit" class="w3-button w3-theme-l1" name="language" value="{{ language.code }}" />
                        {% endif %}
                    {% endfor %}
                    <a href="{% url 'logout' %}" class="w3-button"> Logout</a>
                </form>
             </div>
        </div>
    <h1>{% trans "Dépot de documents" %}</h1>
    </div>

    <div class="principal w3-theme-l5">
        <div class="w3-container w3-padding">
          <div class="w3-quarter w3-theme-l2 w3-center">
              {% block boitecontent %}
              {% endblock %}
              <hr>
              {% block lateral %}
              {% endblock %}
          </div>
          <div class="w3-threequarter w3-padding">
               {% block content %}
               {% endblock %}

            </div>
        </div>
    </div>


    <footer class="w3-container w3-theme-d5 footerw3">
        <div class="footergauche">
          {% block pagination %}
          {% endblock %}
        <a href="https://github.com/Malijai/observatoire/" class="date" ><img src="/static/images/GitHub-Mark-Light-32px.png"></a>
         </div>
    </footer>

    </body>
</html>
